<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<div th:fragment="left-menu" class="left-menu">
    <div class="left-menu-item">首页</div>
    <div class="left-menu-item">员工管理</div>
    <div class="left-menu-item">部门管理</div>
    <div class="left-menu-item">权限设置</div>
    <div class="left-menu-item">仓库设置</div>
    <div class="left-menu-item">退出</div>
</div>
</body>
</html>
