<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:include="fragments/header/head-common::commonHead('首页')"></head>-->
<span th:include="pages/fragments/header/head-css::common-css"></span>
<!--<span th:include="/pages/fragments/header/head-js :: common-js"></span>-->
<body>
<div class="title top_nav">
    <!--<div th:replace="~{templates/header::head-main}"></div>-->
</div>
<div class="innercontent top_innercontent">您在首页</div>
</body>
<script type="text/javascript">

</script>
</html>

