<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header/head-common::commonHead('部门管理')">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <div class="title top_nav" th:replace="fragments/header/head-main::header"></div>
    <div class="main-container">
        <div th:replace="fragments/left/left-menu::left-menu"></div>
        <div class="content">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-light">
                        Normal Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Sales</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dep:${list}">
                                    <td th:text="${dep.depdes}">1</td>
                                    <td th:text="${dep.depid}" class="text-nowrap">Samsung Galaxy S8</td>
                                    <td th:text="${dep.depname}">31,589</td>
                                    <td th:text="${dep.depname}">$800</td>
                                    <td th:text="${dep.depname}">5%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>

