<?xml version='1.0' encoding='utf-8'?>
<widget id="com.coolappz.app_eshop" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>app_eshop</name>
    <description>Cordova 应用程序</description>
    <author email="info@com.coolappz" href="http://www.coolappz.com">10169</author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <engine name="android" spec="^7.0.0" />
</widget>
